#GitIgnore

# IDE files
.idea
node_modules/
npm-debug.log*
.pnp.*
# Maps и кэш
*.map
.cache/
# Python/Django (на всякий)
*.py[cod]
*.egg-info/
db.sqlite3
/staticfiles/
/media/
# Python bytecode
**/__pycache__/
*.sqlite3
.coverage

# Virtualenv
venv/
.venv/

# Environment files
.env

# Logs
logs/
# Docker
*.log

# Firebase service account (секрет)
credentials/

# User uploads
shop/media/

# Virtual environment
env/

# Django
db.sqlite3
/media/
staticfiles/

# VSCode / PyCharm
.idea/
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db


