{% extends "base.html" %}
{% load query %}
{% block title %}My Wishlists{% endblock %}
{% block content %}
<h2 class="text-2xl font-bold mb-4">My Wishlists</h2>
<a href="{% url 'wishlist_create' %}" class="bg-green-500 text-white px-4 py-1 rounded mb-3 inline-block">+ New</a>

{% include "partials/list_filters.html" %}

<ul class="space-y-2">
    {% for wl in object_list %}
        <li class="bg-white p-3 shadow rounded">
            <a href="{% url 'wishlist_detail' wl.slug %}" class="text-blue-600 font-medium">{{ wl.title }}</a>
            <p class="text-sm text-gray-500">{{ wl.description|default:"No description" }}</p>
            <p class="text-sm align-right text-gray-500"> Views: {{ wl.public_view_count }} </p>
        </li>
    {% empty %}
        <p>No wishlists yet.</p>
    {% endfor %}
</ul>
{% include "partials/pagination.html" %}
{% endblock %}
