{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wishlist{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="{% static "icons/favicon.ico" %}">
</head>
<body class="bg-gray-100 text-gray-800">
<nav class="bg-white shadow mb-6 p-4 flex justify-between">
    <a href="/" class="font-bold text-xl">🎁 WishList</a>
    <div>
        {% if user.is_authenticated %}
            <span class="mr-2">Hi, {{ user.username }}</span>

            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit"><a class="text-blue-500">Logout</a></button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="text-blue-500 mr-4">Login</a>
            <a href="{% url 'register' %}" class="bg-blue-500 text-white px-3 py-1 rounded">Sign up</a>
        {% endif %}
    </div>
</nav>

{% if messages %}
  <div class="max-w-4xl mx-auto px-4 mb-4">
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <div class="p-3 rounded mb-2 bg-red-100 text-red-800 border border-red-300">
              {{ message }}
            </div>
        {% elif 'success' in message.tags %}
            <div class="p-3 rounded mb-2 bg-green-100 text-green-800 border border-green-300">
              {{ message }}
            </div>
        {% elif 'warning' in message.tags %}
            <div class="p-3 rounded mb-2 bg-yellow-100 text-yellow-800 border border-yellow-300">
              {{ message }}
            </div>
        {% else %}
            <div class="p-3 rounded mb-2 bg-gray-100 text-gray-800 border border-gray-300">
              {{ message }}
            </div>
        {% endif %}
    {% endfor %}
  </div>
{% endif %}

<div class="max-w-4xl mx-auto px-4">
    {% block content %}{% endblock %}
</div>
</body>
</html>
