{% extends "profiles/settings_base.html" %}
{% block settings_tabs%}
    {% include "partials/tabs.html" with tabs=tabs active="account" aria_label="Account" %}
{% endblock %}

{% block settings_content %}
  <h1 class="text-xl font-semibold mb-2">Account settings</h1>
  <p class="text-sm text-muted-foreground mb-6">
    Control your account settings.
  </p>
      <h3>Change email</h3>
      <form method="post">
          {% csrf_token %}
          {{ email_form.non_field_errors }}
          <div class="form-field">
            <label for="id_email" class="form-label">New Email</label>

            <div class="with-icon">
              <span class="icon-left">
                <i data-lucide="mail" class="w-6 h-6"></i>
              </span>
              <input
                id="id_email"
                name="email"
                type="email"
                class="inp-text pl-icon {% if email_form.email.errors %}is-invalid{% endif %}"
                autocomplete="email"
                value="{{ email_form.email.value|default_if_none:'' }}"
              >
            </div>

            {% if email_form.email.errors %}
              <p class="form-error">{{ email_form.email.errors|join:", " }}</p>
            {% endif %}
          </div>
          <div class="form-field">
            <label for="id_current_password" class="form-label">Current password</label>
            <div class="with-icon">
                <input
                  id="id_current_password"
                  name="current_password"
                  type="password"
                  class="inp-pass pr-icon {% if email_form.current_password.errors %}is-invalid{% endif %}"
                  autocomplete="new-password"
                >
            </div>
            {% if email_form.current_password.errors %}
              <p class="form-error">{{ email_form.current_password.errors|join:", " }}</p>
            {% endif %}
          </div>
          <button type="submit" name="email_submit" class="btn btn-primary mt-1">Update email</button>
      </form>
      <hr>

      <h3>Change password</h3>
      <form method="post">
          {% csrf_token %}
          {{ password_form.non_field_errors }}
          <div class="form-field">
            <label for="id_old_password" class="form-label">Current password</label>

            <div class="with-icon">
              <span class="icon-left">
                <i data-lucide="lock" class="w-6 h-6"></i>
              </span>
              <input
                id="id_old_password"
                name="old_password"
                type="password"
                class="inp-pass pl-icon {% if password_form.old_password.errors %}is-invalid{% endif %}"
                autocomplete="new-password"
              >
            </div>

            {% if password_form.old_password.errors %}
              <p class="form-error">{{ password_form.old_password.errors|join:", " }}</p>
            {% endif %}
          </div>

          <div class="form-field">
            <label for="id_new_password1" class="form-label">New password</label>

            <div class="with-icon">
              <span class="icon-left">
                <i data-lucide="key-round" class="w-6 h-6"></i>
              </span>
              <input
                id="id_new_password1"
                name="new_password1"
                type="password"
                class="inp-pass pl-icon {% if password_form.new_password1.errors %}is-invalid{% endif %}"
                autocomplete="new-password"
              >
            </div>

            {% if password_form.new_password1.errors %}
              <p class="form-error">{{ password_form.new_password1.errors|join:", " }}</p>
            {% endif %}
          </div>
          <div class="form-field">
            <label for="id_new_password2" class="form-label">Repeat new password</label>

            <div class="with-icon">
              <span class="icon-left">
                <i data-lucide="key-round" class="w-6 h-6"></i>
              </span>
              <input
                id="id_new_password2"
                name="new_password2"
                type="password"
                class="inp-pass pl-icon {% if password_form.new_password2.errors %}is-invalid{% endif %}"
                autocomplete="off"
              >
            </div>

            {% if password_form.new_password2.errors %}
              <p class="form-error">{{ password_form.new_password2.errors|join:", " }}</p>
            {% endif %}
          </div>
          <button type="submit" name="password_submit" class="btn btn-primary mt-1">
            Update password
          </button>
      </form>
{% endblock %}